.container {

}
#main-bio {float: left;

}
#contact-info{float: left;

}
#bio-image{float: left;

}
header {background-color:#333333

}
h1 {color:#eee;
    font-size: 28px;
    padding: ;
}
h2 {font-size: 24px;
    margin: 0 auto;
    }